.quotes-container {
  max-width: 900px;
  margin: 30px auto;

  form {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin-bottom: 20px;

    button {
      grid-column: span 2;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 10px;
      border: 1px solid #ccc;
    }

    th {
      background: #f4f4f4;
    }
  }
}