<button (click)="logout()">Logout</button>
<div class="quotes-container">
  <form [formGroup]="quoteForm" (ngSubmit)="addOrUpdateQuote()">
    <h3>{{ editingId ? 'Editar' : 'Nueva' }} Cotización</h3>

    <input formControlName="client" placeholder="Cliente" />
    <input formControlName="type" placeholder="Tipo de servicio" />
    <input formControlName="distance" type="number" placeholder="Distancia estimada (km)" />
    <input formControlName="number_persons" type="number" placeholder="Número de personas" />
    <input formControlName="time" type="number" placeholder="Tiempo estimado (horas)" />
    <input formControlName="origin" placeholder="Origen" />
    <input formControlName="destination" placeholder="Destino" />
    <input formControlName="date" type="date" placeholder="Fecha" />
    <input formControlName="price" type="number" placeholder="Precio" />

    <button type="submit">{{ editingId ? 'Actualizar' : 'Agregar' }}</button>
    <button type="button" *ngIf="editingId" (click)="cancelEdit()">Cancelar</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Fecha</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quote of quotes">
        <td data-label="client">{{ quote.client }}</td>
        <td data-label="origin">{{ quote.origin }}</td>
        <td data-label="destination">{{ quote.destination }}</td>
        <td data-label="date">{{ quote.date }}</td>
        <td data-label="price">{{ quote.price | currency:'COP' }}</td>
        <td>
          <button (click)="editQuote(quote)">Editar</button>
          <button (click)="deleteQuote(quote.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>